.user-list {
    display: flex;
    gap: 30px;
}
.user-item {
    border: 2px solid #4f4907;
    border-radius: 8px;
    padding:15px;
    margin: 12px 0;
    max-width: 300px;
    background-color: #ece03f;
    box-shadow: 0 2px 8px rgb(91, 86, 45);
    font-family: 'Segoe UI', sans-serif;
}

h4 {
    font-size: 20px;
    margin-bottom: 4px;
    color: #333;
}

h5 {
    font-size: 15px;
    margin: 4px 0;
    color: #555;
}

span {
    display: block;
    margin: 4px 0;
    font-size: 14px;
    color: #444;
}

